* {
  margin: 0;
  padding: 0;
}

body {}

.wrapper {
  display: flex;
  gap: 100px;
}

.left,
.right {
  flex-basis: 370px;
}



.section {
  margin: 25px 0;
  padding-bottom: 10px;
}

.label {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.label:nth-child(odd) {
  background: #eee;
}

.radio {
  width: 20px;
  height: 20px;
}

.bigTxt {
  font-size: 24px;
  font-weight: bold;
}

.box {
  padding: 20px;
  border-bottom: 2px solid #333;
}

.box-contents {
  display: flex;
  align-items: end;
  gap: 20px;
}

.resultArea {}

.result {
  margin-left: 10px;
  padding: 10px;
  border: 2px double #333;
  font-size: 24px;
  font-weight: bold;
}

.correct {
  border: 5px double #ff0000;
}

.incorrect {
  border: 2px double #0000ff;
}

.fixed-info {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  background: #ccc;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.scroll-link {
  cursor: pointer;
}